<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.DB_QLNhaHangConnectionString"
            connectionString="Data Source=LAPTOP-OTPB45DT\SQLEXPRESS;Initial Catalog=DB_QLNhaHang;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>